body {
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 48px;
  margin-top: 0px;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.outlineBorder {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 15px;
}
.currentTemp {
  font-size: 48px;
  font-weight: bold;
  padding: 0px;
  margin-left: 75px;
}
.currentCity {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.currentTemp {
  font-size: 48;
  margin-top: 50px;
}
.currentImage {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bolder;

  margin-right: 50px;
  margin-top: 50px;
  padding: 0px;
}
